body {
    font-family: 'Roboto';
    font-weight: 200;
}

strong {
    font-weight: 500;
}

label {
    font-weight: 400;
}

.bgimg {
    background-image: url('../images/map.png');
}

.traslucid {
    background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
}