

<div href="/maps/{{ map.id }}" id="map"></div>

{{!-- 5debafdedf9f632928e59250 --}}




<script>

let long= 0
  let lat= 0   

var slideIndex = 0;

updatePosition();



mapboxgl.accessToken = 'pk.eyJ1IjoiaXJvbm1vZHVsZTIiLCJhIjoiY2szZnQzdzN0MDdzNjNjbzQ5amZ5M24wMyJ9.1AdiIc2dD4lw7Toih03G0Q';

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [long, lat],
            
            zoom: 9.0,
        });

map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl());

        let layerList = document.getElementById('menu');
let inputs = layerList.getElementsByTagName('input');
 
function switchLayer(layer) {
let layerId = layer.target.id;
map.setStyle('mapbox://styles/mapbox/' + layerId);
}
 
for (let i = 0; i < inputs.length; i++) {
inputs[i].onclick = switchLayer;
}

mapboxgl.accessToken = 'pk.eyJ1IjoiaXJvbm1vZHVsZTIiLCJhIjoiY2szZnQzdzN0MDdzNjNjbzQ5amZ5M24wMyJ9.1AdiIc2dD4lw7Toih03G0Q';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-77.04, 38.907],
            zoom: 9.0,
        });
        
        map.on('load', function() {
            map.loadImage('https://img.icons8.com/android/24/000000/marker.png', function(error, image) {
                if (error) throw error;
                map.addImage('marker', image);
                map.addLayer({
                    "id": "points",
                    "type": "symbol",
                    "source": {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": [{
                                "type": "Feature",
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [0, 0]
                                }
                            }]
                        }
                    },
                    "layout": {
                        "icon-image": "marker",
                        "icon-size": 1
                    }
                });
            });
        });    
</script>