 {{!-- <form action="/maps" method="POST" > --}}
 <form onsubmit="return saveData()">
          <div class="form-group">
            <label for="title">Enter title</label>
            <input name="title" type="text" class="form-control title" id="title"
            placeholder="Enter title" value="title">

            <div class="form-group">
            <label for="description">Your text</label>
            <textarea name="description" type="text" class="form-control description"  id="description"
            placeholder="Enter text" value="description" rows="4"></textarea>

            
        </div>

<input type="submit" value="submit">
</form>
  <button type="submit" class="btn btn-primary">
    Create map
  </button>

 
 
 <script>
  const arrObj = []

     function saveData(){
     
         let title = document.getElementById("title").value
         let description = document.getElementById("description").value
        // console.log(title)
          let slide = 0
        let element = {}
      
        element.title = title
        element.description = description
        arrObj.push({element: element})
        console.log(arrObj)
        return false
         /* for (let i =0 ; i < title.length; i++){
             arrTitles[i] = title[i].value;
            console.log(title[i].value)
         }
         for (let j =0 ; j < title.length; j++){
             arrDescriptions[j] = description[j].value;
             console.log(description[j].value)
     } */
     }
 </script>
 
 
 
 
 
 
 
